.bg-calendar-widget .calendar {
		width: 100%; 
		text-align: center;
		font-size: 1em;
}

.bg-calendar-widget .calendar img {
	max-height: 200px;
}

.bg-calendar-widget h3 {
	font-size: 120%;
	text-align: center;
}

.bg-calendar-widget h4 {
	font-size: 110%;
	text-align: center;
}

.bg-calendar-widget h5 {
	font-size: 100%;
	text-align: left;
}

.bg-calendar-widget p {
	margin: 0;
	margin-bottom: 0.5em;
}

.bg-calendar-widget summary {
	margin: 0;
	padding: 0;
}


.bg-calendar-widget .calendar .icon {
	margin-bottom: 0.6em;
}

.bg-calendar-widget .calendar .icon img {
	filter: drop-shadow(0px 3px 3px #400a);
}

.bg-calendar-widget .readings .bg_bibleRef {
	cursor: pointer;
}

.bg-calendar-widget .readings .bg_bibleRef:hover {
	text-decoration: underline;
}

#bg_desc_text hr,
#bg_bible_text hr {
	margin: 0;
	margin-top: 1em;
}

div.bg_hide_block {
	width: 100%;
    text-align: right;
	margin: 0;
}


#bg_hide_block1,
#bg_hide_block2 {
	border: 0;
    padding: 0;
    margin: 0;
	margin-right: 5px;
    background-color: transparent;
    font-size: 2em;
	text-align: center;
    height: 1em;
	width: 1em;
}
#bg_hlink {
border: 0;
    padding: 0em 0.5em;
    margin-right: 5px;
    font-size: 1em;
    text-align: center;
    line-height: 2em;
    vertical-align: top;
    height: 2em;
    background-color: transparent;
    color: darkred;
}

#bg_hlink:hover,
#bg_hide_block1:hover,
#bg_hide_block2:hover {
    background-color: darkred;
	color: white;
}
div.bg_content {
	max-height: 300px;
	overflow-y: auto;
	 overflow-x: none;
}

div.bg_content::-webkit-scrollbar {
  width: 8px;
  background-color: #f9f9fd;
}

div.bg_content::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #ede4d6;
}

div.bg_content::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.2);
  border-radius: 6px;
  background-color: #f9f9fd;
}
.tropary details {
	margin: 0;
}
